.container
{
    width: 90%;
    margin: 50px auto 0;
}

.calc a,
.calc button
{
    -webkit-transition: all .2s ease-out;
       -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
         -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
}

.calc
{
    position: relative;

    display: block;

    width: 100%;
    height: 400px;
    padding: 10px;

    border: 10px solid #bdbbbb;
    background-color: #fff;
}

.calc .input-group
{
    margin: 25px 0 0;
}

.calc .input-group:first-child
{
    margin: 10px 0 0;
}

.calc .total-group
{
    margin-top: 40px;
    margin-bottom: 15px;
}

.calc button.submit[disabled] {
	background-color:#eee;
	color:#ccc;
}
.calc button.submit[disabled]:hover {
	background-color:#eee;
	color:#ccc;
}

.calc .total-group input[disabled],
.calc button.submit
{
    color: #69ad46;
}

.calc button.submit:hover
{
    color: #636365;
    background-color: #d9d6d4;
}

.calc button.submit:active
{
    color: #fff;
    background-color: #69ad46;
}

.calc button.submit:focus
{
    color: #69ad46;
    border: 1px solid #ccc;
    outline: 0;
    background-color: #fff;
}

.calc button.submit:active:focus
{
    color: #fff;
    outline: 0;
    background-color: #69ad46;
}

.calc .total-group input::-webkit-input-placeholder
{
    color: #69ad46;
}

.calc .total-group input:-moz-placeholder
{
    /* Firefox 18- */
    color: #69ad46;
}

.calc .total-group input::-moz-placeholder
{
    /* Firefox 19+ */
    color: #69ad46;
}

.calc .total-group input:-ms-input-placeholder
{
    color: #69ad46;
}

.calc label
{
    font-weight: 400;

    color: #fff;
    background-color: #ea7200;
}

.calc input
{
    text-align: right;

    border-left: 0;
    border-radius: 0;
}

.calc .input-group-addon
{
    min-width: 100px;

    border: 0;
    border-radius: 0;
}

.calc .input-group-addon[disabled]
{
    color: #fff;
    background-color: #69ad46;
}

.calc .form-control:focus
{
    border-color: #ea7205;
    outline: 0;
    -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.2);
            box-shadow: 0 1px 10px rgba(0,0,0,.2);
}

.calc small
{
    display: block;

    margin: 5px 0 0 0;

    color: #898889;
}

.calc button
{
    display: block;

    width: 100%;
    padding: 10px 12px;

    border-radius: 0;
}

.calc div.bootstrap-touchspin > span.input-group-btn
{
    display: none !important;
}

.calc input[type=number]::-webkit-inner-spin-button,
.calc input[type=number]::-webkit-outer-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

.calc .bootstrap-touchspin .input-group-btn-vertical button
{
    border-radius: 0;
}

.calc .bootstrap-touchspin .input-group-btn-vertical button i
{
    color: #636365;
}
